{% extends 'base.html.twig' %}

{% block title %}Items : la liste
{% endblock %}

{% block content %}
    <p>Items :
        {{ pagination.getTotalItemCount }}</p>
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Search</label>
            <input type="text" name="q" class="form-control" placeholder="Search"  value="{{ app.request.query.get('q') }}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <hr>
    <ul>
        {% for item in pagination %}
            <li>
                <a href="{{ path('item_show',{slug:item.slug}) }}">{{ item.name }}</a>
                {% if item.isBox %}<span class="oi oi-box"></span>{% endif %}
            </li>
        {% else %}
            <li>{{ 'item.noresults' | trans }}</li>
        {% endfor %}
    </ul>
    {{ knp_pagination_render(pagination, null, {}, {'align':'center'}) }}
    <hr>
    <div class="text-center">
        <a href="{{ path('item_add') }}" class="btn btn-primary">Add item</a>
    </div>
{% endblock %}
