{% extends 'base.html.twig' %}

{% block title %}Item :
    {{ item.name }}
{% endblock %}

{% block content %}
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Search</label>
            <input type="text" name="q" class="form-control" placeholder="Search"
                   value="{{ app.request.query.get('q') }}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for element in path %}
            <li class="breadcrumb-item {{ (item.slug==element.slug)?'active':'' }}">
                {% if (item.slug==element.slug) %}
                    {{ element.name }} ({{ pagination.getTotalItemCount }} {% trans %}item.items{% endtrans %})
                {% else %}
                    <a href="{{ path("item_show", {slug:element.slug}) }}">{{ element.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% if item.comment %}
        <div class="card bg-light mb-2">
            <div class="card-body">
                {{ item.comment }}
            </div>
        </div>
    {% endif %}
    {% if item.imageName %}
        <div>
            <img src="{{ vich_uploader_asset(item, 'imageFile')| imagine_filter('thumb480x480') }}" class="img-fluid"
                 alt="{{ item.name }}"/>
        </div>
    {% endif %}

    <table class="table table-striped">
        {% for item in pagination %}
            <tr class="row">
                <td class="col">
                    {% if item.isBox %} <span class="oi oi-box"></span> {% endif %}
                    <a href="{{ path('item_show',{slug:item.slug}) }}">{{ item.name }}</a>
                </td>
                <td class="col-2 text-right">
                    {% if item.isBox==false %}
                        <a class="text-danger"
                           href="{{ path('item_delete', {slug:item.slug}) }}">{% trans %}item.delete{% endtrans %}</a>
                    {% endif %}
                        <a class="text-danger"
                           href="{{ path('item_edit', {slug:item.slug}) }}">{% trans %}item.edit{% endtrans %}</a>
                </td>
            </tr>

        {% else %}
            <li>{{ 'item.noresults' | trans }}</li>
        {% endfor %}
    </table>
    {{ knp_pagination_render(pagination, null, {}, {'align':'center'}) }}
    <div class="text-center">
        <a href="{{ path('item_add',{slug:item.slug}) }}" class="btn btn-primary"><span
                    class="oi oi-plus"></span> Add item to « {{ item.name }} »</a>
    </div>

{% endblock %}
