{% extends 'base.html.twig' %}

{% block title %}Item :
    {{ item.name }}
{% endblock %}

{% block content %}
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Search</label>
            <input type="text" name="q" class="form-control" placeholder="Search"  value="{{ app.request.query.get('q') }}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for element in path %}
            <li class="breadcrumb-item {{ (item.slug==element.slug)?'active':'' }}">
                {% if (item.slug==element.slug) %}
                    {{ element.name }}
                {% else %}
                    <a href="{{ path("item_show", {slug:element.slug}) }}">{{ element.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% if item.comment %}
        <div class="card bg-light mb-2">
            <div class="card-body">
                {{ item.comment }}
            </div>
        </div>
    {% endif %}
    <div>
    </div>
    <div class="list-group mb-2">
        {% for item in pagination %}
            <a class="list-group-item list-group-item-action"
               href="{{ path('item_show',{slug:item.slug}) }}">{% if item.isBox %} <span
                        class="oi oi-box"></span> {% endif %}{{ item.name }}</a>

        {% else %}
            <li>{{ 'item.noresults' | trans }}</li>
        {% endfor %}
    </div>
    {{ knp_pagination_render(pagination, null, {}, {'align':'center'}) }}
    <hr>
    <div class="text-center">
        <a href="{{ path('item_add',{slug:item.slug}) }}" class="btn btn-primary">Add item</a>
    </div>

{% endblock %}
