{% extends 'base.html.twig' %}

{% block title %}Item :
    {{ item.name }}
{% endblock %}

{% block content %}
    {% if item.comment %}
        <div>{{ item.comment }}</div>
    {% endif %}
    {% if item.imageName %}
        <div>
            <img src="{{ vich_uploader_asset(item, 'imageFile')| imagine_filter('thumb480x480') }}" class="img-fluid"
                 alt="{{ item.name }}"/>
        </div>
    {% endif %}
    <div class="text-right my-2">
        <a class=""
           href="{{ path('item_edit', {slug:item.slug}) }}">{% trans %}item.edittext{% endtrans %}</a>
        {% if item.isBox==false %}
            &nbsp; <a class="text-danger"
                      href="{{ path('item_delete', {slug:item.slug}) }}">{% trans %}item.deletetext{% endtrans %}</a>
        {% endif %}
    </div>
    {% for _item in pagination %}
        <div class="card my-2">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {% if _item.isBox %} <span class="oi oi-box"></span> &nbsp;{% endif %}
                        <a href="{{ path('item_show',{slug:_item.slug}) }}">{{ _item.name }}</a>
                        {% if _item.comment %}
                            <div class="small">{{ _item.comment }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        {% if _item.isBox==false %}
                            <a class="text-danger"
                               href="{{ path('item_delete', {slug:_item.slug}) }}">{% trans %}item.deletetext{% endtrans %}</a> &nbsp;
                        {% endif %}
                        <a class=""
                           href="{{ path('item_edit', {slug:_item.slug}) }}">{% trans %}item.edittext{% endtrans %}</a>
                    </div>
                </div>
            </div>

        </div>
    {% else %}
        {% if app.request.query.get('q') %}
            <div>{{ 'item.noresults' | trans }}</div>
        {% endif %}
    {% endfor %}
    {{ knp_pagination_render(pagination, null, {}, {'align':'center'}) }}
    <div class="text-center">
        <a href="{{ path('item_add',{slug:item.slug}) }}" class="btn btn-primary"><span
                    class="oi oi-plus"></span></a>
    </div>

{% endblock %}
